In [1]:
raju = [56,90,34,34,56]
raju_dict ={
    'English' : 56,
    'Hindi' : 90,
    'Maths' : 34,
    'Chemistry' : 34,
    'Evs' : 56,
}

print(raju_dict)

{'English': 56, 'Hindi': 90, 'Maths': 34, 'Chemistry': 34, 'Evs': 56}

In [2]:
company = {
    'emp001' : {
        'name' : 'Amar Kumar',
        'designation' : 'Assistant III',
        'salary' : '32000'
    },
    'emp002' : {
        'name' : 'Ranu Singh',
        'designation' : 'Staff Officer',
        'salary' : 89000
    },
    'total_emp' : 2,
    'department' : 'Accounts',
    'vacancy' : ['clerk','manager','assistant I']
}

In [3]:
company['name'] = 'Acme inc.'        #adding a key and value to dict
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': '32000'}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 'total_emp': 2, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc.'}

In [5]:

company['total_emp'] = 3 #changing already exisiting keys' value
company['emp003'] = {
    'name' : 'Ajay varma',
    'designation' : 'clerk',
    'salary' : 45000
}
company['emp001']
print(company)

{'emp001': {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': '32000'}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 'total_emp': 3, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant I'], 'name': 'Acme inc.', 'emp003': {'name': 'Ajay varma', 'designation': 'clerk', 'salary': 45000}}

In [7]:
#fetching value 
company.get('website')  
if 'website' in company:
    print('website exist in dict')
else:
    print('website doesnt exist in dictionary')

website doesnt exist in dictionary

In [8]:
#printing the keys and values respectively
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'total_emp', 'department', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': '32000'}, {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}, 3, 'Accounts', ['clerk', 'manager', 'assistant I'], 'Acme inc.', {'name': 'Ajay varma', 'designation': 'clerk', 'salary': 45000}])

In [9]:
print(company.items()) #items() method is used to return the list with all dictionary keys with values.

dict_items([('emp001', {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': '32000'}), ('emp002', {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}), ('total_emp', 3), ('department', 'Accounts'), ('vacancy', ['clerk', 'manager', 'assistant I']), ('name', 'Acme inc.'), ('emp003', {'name': 'Ajay varma', 'designation': 'clerk', 'salary': 45000})])

In [10]:
for k,v in company.items():
    print(k,v)

emp001 {'name': 'Amar Kumar', 'designation': 'Assistant III', 'salary': '32000'}
emp002 {'name': 'Ranu Singh', 'designation': 'Staff Officer', 'salary': 89000}
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc.
emp003 {'name': 'Ajay varma', 'designation': 'clerk', 'salary': 45000}

In [11]:
for k,v in company.items():
    if isinstance(v,dict):
        print(k)
        for key,value in v.items():
            print('--->',key,value)
    else:
        print(k,v)

emp001
---> name Amar Kumar
---> designation Assistant III
---> salary 32000
emp002
---> name Ranu Singh
---> designation Staff Officer
---> salary 89000
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc.
emp003
---> name Ajay varma
---> designation clerk
---> salary 45000

In [12]:
# wap to create a dict which takes user input and stores the name of item and its price
Inputs = int(input("Enter number of items:"))
dict = {}
for i in range(Inputs):
    items = input('Enter a item:')
    price = int(input('Enter the price:'))
    dict[items] = price
print(dict)

{'egg': 10, 'milk': 35, 'chocolate': 85}