### list
- indexed,ordered,mutable,allows duplicate elements,heterogenous,'[]','list()'
### tuple
- indexed,ordered,**immutable**,allows duplicate elements,heterogenous,'()','tuple'
### set
- **unordered**, mutable,**does not allows duplicate elements**,heterogenous,'{}','set()'
### dictionary
- **unordered**, mutable,**does not allows duplicate elements**,heterogenous,key:value pairs,'{}','dict()'

# list
- creating 
- indexing and slicing
- methods(11methods)
- lists comprehensions

In [16]:
x = [1,2,3,4,5]
names = ['John','Paul','George','Ringo']
mix = [1,'John',3.14,'True']
nested = [[1,2,3],[4,5,6],[7,8,9]]
empty = []
cloned = [1,2,3,4,5]*5
words = 'this is mariyam'.split()
chars = list('Alexander')

In [17]:
print(x[0])
print(x[-1])
x [0] = 100 #updating value at index 0,hence mutable

1
5

In [18]:
print(chars[:5])
print(chars[::-1])

['A', 'l', 'e', 'x', 'a']
['r', 'e', 'd', 'n', 'a', 'x', 'e', 'l', 'A']

In [19]:
#difference b/w mwthod and fumctions
#function is directly called and are not related to any variable
print()
#methods are linked to a variable
x.append()

TypeError: list.append() takes exactly one argument (0 given)

# adding
 - append()- adds element to the end of the list
 - extend()- adds all elements of one list to another list
 - insert()- adds an element at a specific index
# removing
 - remove()
 - pop()
 - clear()
# utility methods
 - count()
 - index()
 - sort()  
 - reverse()
 - copy()

adding

In [ ]:
x.append(6)
x.append(3)
print(x)

[100, 2, 3, 4, 5, 6, 3]

In [ ]:
a = [11,12,13]
x.extend(a)
print(x)

[100, 2, 3, 4, 5, 6, 3, 11, 12, 13]

In [ ]:
x.insert(5,100)

x.insert(6,500)
print(x)

[100, 2, 3, 4, 5, 100, 500, 6, 3, 11, 12, 13]

In [ ]:
#wap to take 10 values from and fill it in a list
empty=[]
for i in range(10):
    d =input('enter a number')
    empty.append(d)
print(empty)

['7', '7', '9', '8', '8', '9', '8', '8', '9', '8']

removing

In [ ]:
names.remove('John')
print(names)

['Paul', 'George', 'Ringo']

In [ ]:
if 'John' in names:  #we should always check whether an alement exists in a list or not b4 removing it
    names.remove('John')
print(names)

['Paul', 'George', 'Ringo']

In [ ]:
names.remove('John') if 'John' in names else print('John not found')

John not found

In [ ]:
x = [1,2,3,4,5]
print(x.pop())
print(x.pop(2))

5
3

In [ ]:
names.clear() # it emptiesw the list
print(names)
del names   # it deletes the entire list

[]

utility

In [ ]:
a = [1,2,3,1,1,2,2,2,2,1,1,1]
a.count(1)

6

In [20]:
names.sort()
print(names)

['George', 'John', 'Paul', 'Ringo']

In [21]:
names.reverse()
print(names)

['Ringo', 'Paul', 'John', 'George']

In [22]:
names.index('John')

2

In [23]:
#wap  to create a fibonacci series of 10 numbers and store it in a list
#[0,1,1,2,3,5,8,13,21,34]
a = [0,1]
for i in range(10):
     a.append(a[-2]+a[-1])
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [24]:
x=[1,2,3,4,5]
x2=[]
for i in x:
    s=i**2
    x2.append(s)
print(x)
print(x2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [25]:
names=['Peter Parker','Bruce Wayne','Clark Kent']
fnames=[]
for nm in names:
    fnames.append(nm.split()[0])
print(fnames)

['Peter', 'Bruce', 'Clark']

In [26]:
x=[1,2,3,4,5,6,7,8,9,10] #Wap to print the even numbers from the list of 10 numbers.
x2=[]
for i in x:
    if i%2==0:
        x2.append(i)
print(x)
print(x2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

- Comprehension syntax

  newlist=[expression for item in iterable if condition==True]

In [27]:
x2=[i**2 for i in x]
print (x2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
lnames=[nm.split()[-1] for nm in names]
print (lnames)

['Parker', 'Wayne', 'Kent']

In [29]:
x=[1,2,3,4,5,6,7,8,9,10,11,12]
xevens=[i for i in x if i%2==0]
print(xevens)

[2, 4, 6, 8, 10, 12]